%h2 Notes
%table.table.table-striped
  %thead
    %tr
      %th Date
      %th Note
    -@notes.each do |note|
      %tr
        %td
          = note.visit.visit_date
        %td
          = note.note

%button Add Note
        