= stylesheet_link_tag    'home', media: 'all'
= render 'shared/top_navigation'
.container-fluid
  .row
    .col-sm-3.col-md-2.sidebar
      = render 'shared/side_navigation'

    .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
      = render 'medical_history'