%h3 Visit History
%table.table.table-striped
  %thead
    %tr
      %th Date
      %th Doctor
      %th Chief Complaint
      %th Notes
    -@visits.each do |visit|
      %tr
        %td
          = visit.visit_date
        %td
          = visit.doctor.try(:name)
        %td
          = visit.chief_complaint
        %td
          = visit.last_note
