%table.table.table-striped
  %thead
    %tr
      %th
      -@g.column_headers.each do |d|
        
        %th 
          = d
      -@g.rows.each do |r|
        %tr
          %td 
            = link_to r.header, lab_tests_path
          -r.data.each do |dd|
            %td
              = dd.result if dd