<style>

   body {
        
      }
      .axis path,
      .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
      }
      .line {
        fill: none;
        stroke: steelblue;
        stroke-width: 1.5px;
      }
      div.info {
          position: absolute;    
          text-align: center;    
          width: 60px;    
          height: 28px;        
          padding: 2px;    
          font: 12px sans-serif;    
          background: yellow;    
          border: 0px;                    
          border-radius: 8px;
        /*  pointer-events: none;    This line needs to be removed */       
          }

</style>
<h3> Kidney Function Dashboard </h3>
<div id="chart_kidney">
<%= javascript_include_tag 'kidney' %>
</div>